/* ul{
  margin-left: 200px;
} */

/* .container{
  display: flex;
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin-left: 200px;
  margin-top: 40px;
  background-color: brown;
}
h1{
  text-align: center;
}
.a1{
  display: flex;
  outline: 0;
  border: 1 ;
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
.a2{
  margin-top: 30px;
  margin-left: 50px;
}
.a3{
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
} */
/* button{
  width: 100px;
  height: 40px;
  border: 0;
  background-color: seagreen;
} */

/* New Task of Api */